<h1>Patients <button> Add New </button></h1>
<ul>
  {{#each model as |patient|}}
    <li>
      <img src="{{patient.avatar}}" height="25" width="25">
      {{patient.name}}
    </li>
  {{/each}}
</ul>
